@model rkrApp.Models.Schools_Observers

<ul class="nav navbar-nav">
            <li class="active">
                <a href="/Observer/Works">
                    Тексты контрольных работ
                </a>
            </li>
            <li class="active">
                <a href="/Observer/AddCipher">
                    Добавление шифров
                </a>
            </li>
            <li class="active">
                <a href="/Observer/AddScan">
                    Добавление бланков ответов
                </a>
            </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span>Внешний наблюдатель в @Model.Schools.name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Home/OutSite">Выйти</a></li>
        </ul>
    </li>
</ul>
